*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.button1{
    text-align: center;
    padding: 50px 30px;
}
.button1 button{
    font-size: 11px;
    padding: 10px 20px;
    border-radius: 60%;
    background-color: white;
    border-color: transparent;
}
.button1 button:hover{
    background-color: #b4b4f6;
}
.container{
    width:100%;
    max-width: 1366px;
    padding: 0 40px;
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: space-between;
}
/* section2 */
.logo2{
    line-height: 35px;
}
.section2{
    display:flex;
}
.navbar ul li{
    display: inline-block;
    line-height: 35px;
    padding: 0 70px;
}
.allmenu{
    padding: 20px 0;
}
.pr50{
    width: 50%;
}
.jcc{
    display: flex;
    justify-content: center;
}
.img1{
    border: 1px solid;
    border-color: gray;
}
.img1 img{
    width: 782px;
    height: 720px;
    object-fit:cover;
}
.img1 img{
    object-fit: cover;
}
.section2{
    border: 1px solid;
    border-color: gray;
}
.detail1{
    width: 417px;
}
.detail1 h2{
    font-size: 40px;
    padding: 100px 0;
    text-align: center;
}
.detail1 h3{
    width: 300px;
    margin-left: 52px;
    text-align: center;
}
.detail1 p{
    width: 311px;
    margin-left: 43px;
    padding: 20px 0;
    text-align: center;
}
/* section3 */
.navbar2 ul{
    border: 1px solid;
    border-color: gray;
}
.navbar2 ul li{
    display: inline-block;
    padding: 30px 164px;
}
/* section4 */
.first-span span{
    font-size: 31px;
    padding: 100px 0;
}
.card{
    width: 33%;
    overflow: hidden;
    padding: 0 37px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    margin:0 -37px ;
}
.cardimg{
    overflow: hidden;
}
.cards h3{
    width: 350px;
    padding: 0 0 0 20px;
    text-align: center;
    color: #313131;
}
.card p{
    text-align: center;
    padding: 20px 0;
}
.card-button{
    text-align: center;
}
.card-button button{
    font-size: 11px;
    padding: 10px 20px;
    border-radius: 60%;
    background-color: pink;
    border-color: transparent;
}
.section4{
    padding-bottom: 100px;
}
.logo3{
    text-align: center;
}
/* section5 */
.video1{
    padding-bottom: 100px;
    text-align: center;
}
/* section6 */
.ourstory{
    padding: 100px 0;
}
.forflex{
    display: flex;
}
.img2 img{
    object-fit: cover;
    width: 662px;
}
.storydetail{
    text-align: center;
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: gray;
}
.storydetail h3{
    font-size: 35px;
    padding: 15px 0 ;
    color: #313131;
    margin-bottom: 100px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: gray;
}
.storydetail h4{
    font-size: 20px;
    color: #313131;
}
.storydetail p{
    padding: 100px 0;
}
.storybutton button{
    font-size: 11px;
    padding: 10px 20px;
    border-radius: 60%;
    background-color: #d8b4f6;
    border-color: transparent;
}
/* section7 */
.yourstory{
    padding: 100px 0;
}
.img3{
    overflow:hidden;
}
/* section8 */
.section7{
    padding: 100px 0;
}
.navbar3 ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 10px;
    padding: 10px 0 0 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: gray;
}
.col-40{
    width: 40%;
}
.img4{
    overflow: hidden;
    border-right: 1px solid;
    border-color: gray;
}
.forwidth{
    text-align:center;
    width: 350px;
}
.forwidth h1{
    font-size: 70px;
    padding: 30px 0;
}
.forwidth p{
    padding-bottom: 30px;
}
.forcenter{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}
.offrebutton button{
    font-size: 11px;
    padding: 10px 20px;
    border-radius: 60%;
    background-color: #cfb4f6;
    border-color: transparent;
}
.col-60{
    width: 60%;
}
.section8bg{
    display: flex;
    background-color: #ffe2c6;
}
/* section9 */
.row9{
    display: flex;
    flex-wrap: wrap;
}
.intro-p p{
    width: 285px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.intro-p{
    padding-bottom: 100px;
}
.col-50{
    width: 50%;
}
.card1{
    display: flex;
}
.client1{
    width: 40%;
    height: 100%;
}
.client1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid;
    border-right: none;
    border-color: gray;
}
.inline{
    display: flex;
    border: 1px solid;
    border-color: gray;
}
.inline h4{
    font-size: 13px;
    color: gray;
    padding-left: 20px;
    line-height: 36px;
}
.inline h3{
    font-size: 26px;
    padding: 2px 66px 2px 45px ;
    border-right: 1px solid;
    border-color: gray;
}
.card-detail{
    border: 1px solid;
    border-color: gray;
}
.card-detail p{
    font-weight: 600;
    padding: 30px 20px 0 45px;
    width: 379px;
    text-align: justify;
}
.rating-star{
    background: yellow;
}
.rating-wrapper{
    direction: rtl;
    text-align:left;
    padding-left: 50px;
}
.rating-wrapper input{
    display: none;
}
.rating-wrapper label{
    display: inline-block;
    width: 15px;
    position: relative;
    cursor: pointer;
}
.rating-wrapper label:before{
    content: "\2605";
    position: absolute;
    font-size: 20px;
    display: inline-block;
    top: 0;
    left: 0;
}
.rating-wrapper label:after{
    content: "\2605";
    position: absolute;
    font-size: 20px;
    display: inline-block;
    top: 0;
    left: 0;
    color: yellow;
    opacity: 0;
}
.rating-wrapper label:hover:after,
.rating-wrapper label:hover ~ label:after,
.rating-wrapper input:checked ~ label:after{
    opacity: 1;
}

@media (min-width:576px) {
    .container {
        width: 100%;
    }
    .col-50 {
        width: 100%;
    }
    .card{
        width: 100%;
    }
}

@media (min-width:768px) {
    .container {
        width: 720px;
    }

    .col-50 {
        width: 50%;
    }

    .col-25 {
        width: 50%;
    }
}

@media (min-width:992px) {
    .container {
        width: 960px;
    }
    .col-25 {
        width: 33%;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1140px;
    }
    .col-25 {
        width: 25%;
    }
}
@media (min-width:1366px) {
    .container {
        width: 1286px;
    }
    .col-25 {
        width: 25%;
    }
    .card{
        width: 33%;
    }
}